/* media query code for contact page */
@media only screen and (max-width: 500px) {
  .form-container {
    width: 100%;
    margin: 0 0 3rem;
  }

  .ipt-group {
    height: calc(100vh - 150px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .ipt-field {
    height: auto;
  }

  .ci {
    width: 228px;
    height: 48px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .mssg {
    height: 142px;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .mssg::placeholder {
    color: #c6c2c2;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .ci::placeholder {
    color: #c6c2c2;
  }

  .ci[type="text"] {
    padding-left: 30px;
  }

  .btn-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .btn-wrap .btn-suc {
    height: 45px;
    width: 100px;
    border: 1px;
    border-radius: 10% 10% 10% 10%;
    background: #519b6f;
    font: 1rem Verdana, geneva, sans-serif;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #fff;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 700px) {
  .form-container {
    height: 100vh;
    width: 100%;
    margin: 5rem 0 3rem;
  }

  .ipt-group {
    height: calc(100vh - 150px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .ipt-field {
    height: auto;
  }

  .ci {
    width: 600px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .mssg {
    height: 142px;
    width: 600px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .mssg::placeholder {
    color: #c6c2c2;
    padding-top: 1rem;
  }

  .ci::placeholder {
    color: #c6c2c2;
  }

  .ci[type="text"] {
    padding-left: 30px;
    font-size: 1.3rem;
  }

  textarea {
    padding-left: 30px;
    font-size: 1.3rem;
  }

  .btn-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .btn-wrap .btn-suc {
    height: 90px;
    width: 200px;
    border: 1px;
    border-radius: 10% 10% 10% 10%;
    background: #519b6f;
    font: 1rem Verdana, geneva, sans-serif;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #fff;
    padding: 0.5rem;
  }
}
