/* Media Query code for Mobile Devices */
@media only screen and (max-width: 500px) {
  /* general styling */

  body {
    background-color: #f7f2f2;
  }

  .container {
    width: 100%;
  }

  /* about section mobile css code */
  .abt-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    border-bottom: 1px solid black;
  }

  .abt-me h3 {
    margin: 1rem 0;
  }

  .abt-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .abt-img .myImg {
    height: 85px;
    width: 85px;
    border-radius: 50%;
  }

  .abt-summary {
    text-align: center;
    width: 85%;
  }

  .abt-summary .bioSummary {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
  }

  /* my work section css mobile code */

  .myWork {
    width: 100%;
    height: 50vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sect-h {
    width: 100%;
  }

  .sect-h h2,
  .sect-h h3 {
    text-align: center;
  }

  .uidw {
    width: 100%;
  }

  .uidw .sect-h {
    margin: 2.5rem 0 1.7rem;
  }

  .webw .sect-h {
    margin: 2.5rem 0 1.7rem;
  }

  .pwrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .pwrapper .pfbox {
    height: 4rem;
    width: 5rem;
  }

  .pwrapper .pfbox img {
    height: 4rem;
    width: 5rem;
  }

  /* contact form css mobile code */

  .sect-h h2 {
    text-align: center;
  }
}

/*###### */
/* ##############  * Larger screen CSS code */
/*###### */

.container {
  width: 100%;
}

/* about section DESKTOP css code */

@media only screen and (min-width: 501px) {
  .abt-me {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .abt-img {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .abt-img h2 {
    margin-top: 1rem;
    font: 1.5rem Verdana, geneva, sans-serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.2rem;
  }

  .abt-img .myImg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 0;
  }

  .abt-summary {
    width: 55%;
  }

  .abt-summary .bioSummary {
    width: 65%;
    text-align: center;
    font: 1.2rem Verdana, Geneva, sans-serif;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    line-height: 2rem;
    word-wrap: none;
  }

  /* my work section css DESKTOP code */
  .pfbox {
    height: 150px;
    width: 150px;
  }

  .pfbox img {
    height: 150px;
    width: 150px;
  }
}
