/* Media Query for Mobile Devices */
@media only screen and (max-width: 501px) {
  /* general styling */

  body {
    background-color: #f7f2f2;
  }

  /* ending general styling */

  .m-toggler {
    border: 0;
    outline: 0;
    font-size: 2rem;
    color: #000;
    background: none;
  }

  nav,
  nav ul,
  nav ul li,
  nav ul li a {
    padding: 0;
    margin: 0;
  }
  nav {
    display: none;
    height: 85px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  .brand-wrap,
  .brand-img {
    display: none;
  }

  ul {
    height: 85px;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  ul .nav-linker {
    flex: 0 0 100px;
    text-align: center;
  }

  .nav-linker a {
    line-height: 85px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
  }

  .nav-linker:nth-child(1) {
    background: #41463d;
  }

  .nav-linker:nth-child(2) {
    background: #9d8df1;
  }

  .nav-linker:nth-child(3) {
    background: #b8cdf8;
  }

  .nav-linker:nth-child(4) {
    background: #95f2d9;
  }

  .nav-linker:nth-child(5) {
    background: #1cfeba;
  }

  ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  ul li ul {
    display: none;
  }

  /* about section mobile css code */
  .abt-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    border-bottom: 1px solid black;
  }

  .abt-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .abt-img .myImg {
    height: 85px;
    width: 85px;
    border-radius: 50%;
  }

  .abt-summary {
    text-align: center;
    width: 85%;
  }

  .abt-summary .bioSummary {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
  }

  /* my work section css mobile code */

  .myWork {
    width: 100%;
    height: 50vh;
  }

  .sect-h {
    width: 100%;
  }

  .sect-h h2,
  .sect-h h3 {
    text-align: center;
  }

  .uidw {
    width: 100%;
  }

  .pwrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .pfbox {
    height: 75px;
    width: 75px;
  }

  .pfbox img {
    height: 75px;
    width: 75px;
  }

  /* contact form css mobile code */

  .sect-h h2 {
    text-align: center;
  }
}
