@media only screen and (max-width: 500px) {
  /* ending general styling */

  nav,
  nav ul,
  nav ul li,
  nav ul li a {
    padding: 0;
    margin: 0;
  }

  .m-toggler {
    display: block;
    border: 0;
    outline: 0;
    font-size: 2rem;
    color: #000;
    background: none;
  }

  .navvy {
    display: none;
  }

  .showNav {
    display: block;
    height: 85px; /* changed from 85px to 230px */
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
  }

  .brand-wrap,
  .brand-img {
    display: none;
  }

  /* 

  fix the nav list item width for mobile screen
  */
  ul {
    height: 85px;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
  }

  ul .nav-linker {
    width: 100%;
    flex: 0 0 100px;
    text-align: center;
  }

  .nav-linker a {
    line-height: 85px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
  }

  .nav-linker:nth-child(1) {
    background: #41463d;
  }

  .nav-linker:nth-child(2) {
    background: #9d8df1;
  }

  .nav-linker:nth-child(3) {
    background: #b8cdf8;
  }

  .nav-linker:nth-child(4) {
    background: #95f2d9;
  }

  .nav-linker:nth-child(4):active ul {
    display: flex;
  }

  .nav-linker:nth-child(5) {
    background: #1cfeba;
  }

  ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* 
  inner UL styling 
  */

  ul li ul {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    z-index: 5;
  }

  ul li ul li {
    width: 50px;
    height: 50px;
  }

  ul li ul li a {
  }

  ul li ul li a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

/*###### */
/* ##############  * Larger screen CSS code */
/*###### */

@media only screen and (min-width: 501px) {
  nav,
  nav ul,
  nav ul li,
  nav ul li a {
    padding: 0;
    margin: 0;
  }

  nav ul {
    list-style-type: none;
  }

  nav ul li a {
    text-decoration: none;
  }

  .m-toggler {
    display: none;
  }

  .navvy {
    height: 100px;
    width: 100%;
    background: linear-gradient(#ce80ce 20%, #9a9999 95%);
    display: flex;
    flex-direction: row;
  }

  .brand-wrap {
    height: 100px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand-wrap .brand-img {
    display: block;
    height: 70px;
    width: 70px;
  }

  .navvy ul {
    height: 100px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navvy ul .nav-linker {
  }

  .navvy ul li a span {
    font: 1rem verdana, sans-serif;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.125rem;
  }

  .navvy ul li a span:hover {
    text-decoration: underline;
    color: #000;
  }

  /* ############ inner nav */

  .navvy ul ul {
    display: none;
  }

  .nav-linker:nth-child(4):hover ul {
    display: flex;
    list-style: none;
    height: 35px;
  }

  .navvy ul ul li {
    display: flex;
    flex-direction: row;
    justify-items: center;
    height: 25px;
    width: 75px;
  }

  .navvy ul ul li a img {
    height: 25px;
    width: 25px;
    padding: 0.3rem;
    margin-right: 0.2rem;
    border: 0;
    border-radius: 50%;
  }
}
