* {
  padding: 0;
  margin: 0;
}

button,
footer,
section,
article,
figcaption,
figure,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

@media only screen and (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
  }

  button,
  footer,
  section,
  article,
  figcaption,
  figure,
  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
  }
}

a {
  color: #000000;
  text-decoration: none;
}
